#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  /* border-box tells the browser to account for any border and padding in the values you specify for an element's width and height. If you set an element's width to 100 pixels, that 100 pixels will include any border or padding you added, and the content box will shrink to absorb that extra width. */
}

.app {
  height: 100%;
  /* 
  to darken the bg */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/Flex-Lewis-Accepts-Special-Invite-for-the-2020-Olympia.jpg");
  /* this property helps to set the img ,below prop helps in proper fit*/
  background-size: cover;
  background-position: center;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  background-color: rgb(241, 224, 202);
  width: 40%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
  box-shadow: 10px 10px;
}

.advice {
  display: flex;
  align-items: center;
  height: 580px;
}

.button {
  display: flex;
  box-sizing: 25px;
  background-color: rgb(162, 247, 219);
  border-color: brown;
  text-align: center;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .card {
    width: 80%;
    height: 40%;
  }
}
